In [ ]:
import psycopg2

conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a16",user='a16',password='raspberry')

In [ ]:
import psycopg2

In [ ]:
pip install psycopg2-binary

In [ ]:
pip install -r requirements.txt

In [ ]:

import psycopg2

connection = psycopg2.connect(host='192.168.0.252',database='mydatabase_a16',user='a16',password='raspberry')
cursor = connection.cursor()
cursor.execute("SELECT version();")
db_version = cursor.fetchone()
print(db_version)
cursor.close()
connection.close()

In [7]:
import psycopg2
conn = psycopg2.connect(
    database="mydatabase_a16",
    user="a16",
    password="raspberry",
    host="piRobert0301.local",  # 通常是 '127.0.0.1' 或 'localhost'
    port="5432")

type(conn)

psycopg2.extensions.connection

In [8]:
cur = conn.cursor()
type(cur)

psycopg2.extensions.cursor

In [10]:
cur.execute("SELECT * FROM stations;")

UndefinedTable: relation "stations" does not exist
LINE 1: SELECT * FROM stations;
                      ^

In [9]:
rows = cur.fetchall()
type(rows)

ProgrammingError: no results to fetch

In [11]:
import psycopg2

conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a16",user='a16',password='raspberry')

In [12]:
import psycopg2

conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a16",user='a16',password='raspberry')

sql = '''CREATE TABLE IF NOT EXISTS 市場(
	name VARCHAR(20),
	country VARCHAR(20),
	PRIMARY KEY(name),
	UNIQUE(name,country) /*不可以有重覆的資料*/
);'''

cursor = conn.cursor()
cursor.execute(sql)


sql1 = '''
CREATE TABLE IF NOT EXISTS 股市(
	stock_id SERIAL,
	date DATE,
	open NUMERIC(17,10),
	high NUMERIC(17,10),
	low NUMERIC(17,10),
	close NUMERIC(17,10),
	adj_close NUMERIC(17,10),
	volume BIGINT DEFAULT 0,
	name VARCHAR(20),
	PRIMARY KEY(stock_id),	
	UNIQUE(date,name),
	FOREIGN KEY(name) REFERENCES 市場(name)
	ON DELETE NO ACTION
	ON UPDATE CASCADE
);
'''

cursor.execute(sql1)
conn.commit()

cursor.close()
conn.close()

In [13]:
import psycopg2

conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a16",user='a16',password='raspberry')

with conn:
    with conn.cursor() as cursor:
        sql = '''CREATE TABLE IF NOT EXISTS 市場(
        name VARCHAR(20),
        country VARCHAR(20),
        PRIMARY KEY(name),
        UNIQUE(name,country) /*不可以有重覆的資料*/
        );'''

        cursor.execute(sql)
    
    with conn.cursor() as cursor:
        sql = '''CREATE TABLE IF NOT EXISTS 股市(
            stock_id SERIAL,
            date DATE,
            open NUMERIC(17,10),
            high NUMERIC(17,10),
            low NUMERIC(17,10),
            close NUMERIC(17,10),
            adj_close NUMERIC(17,10),
            volume BIGINT DEFAULT 0,
            name VARCHAR(20),
            PRIMARY KEY(stock_id),	
            UNIQUE(date,name),
            FOREIGN KEY(name) REFERENCES 市場(name)
            ON DELETE NO ACTION
            ON UPDATE CASCADE
        );'''
        cursor.execute(sql)
    
conn.close()